label.color-swatch,
.tag--swatch,
.color-swatch {
  --missing-swatch: rgba(0,0,0,0.2);

  &.color-swatch--missing {background-image: url('//b2b.chums.com/images/products/80/missing.png');}

  &.color-swatch--leather-100 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-leather-100.jpg');}
  &.color-swatch--suede-100 {background-color: #000000;}
  &.color-swatch--100 {background-color: #000000;}
  &.color-swatch--ss100 {background-color: #000000;}
  &.color-swatch--dual-100 {background-color: #000000;}
  &.color-swatch--101 {background-color: #2D348D;}
  &.color-swatch--tech-101 {background-color: #99becc;}
  &.color-swatch--102 {background-color: #c02119;}
  &.color-swatch--103 {background-color: #818285;}
  &.color-swatch--ss103 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-103.jpg');}
  &.color-swatch--104 {background-color: var(--missing-swatch);}
  &.color-swatch--105 {background-color: #181a44;}
  &.color-swatch--106 {background-color: var(--missing-swatch);}
  &.color-swatch--silicone-105 {background-color: #536ca7;}
  &.color-swatch--107 {background-color: #eeeeee;}
  &.color-swatch--108 {background-color: #ffdf28;}
  &.color-swatch--109 {background-color: #754f9f;}
  &.color-swatch--110 {background-color: var(--missing-swatch);}
  &.color-swatch--111 {background-color: #2cb156;}
  &.color-swatch--112 {background-color: var(--missing-swatch);}
  &.color-swatch--113 {background-color: #dcc7b3;}
  &.color-swatch--ss113 {background-image: url('//b2b.chums.com/images/swatches/2020/113-swatch-angle.jpg');}
  &.color-swatch--114 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-114.png');}
  &.color-swatch--115 {background-color: var(--missing-swatch);}
  &.color-swatch--116 {background-color: #895a4e;}
  &.color-swatch--117 {background-color: #e0663b;}
  &.color-swatch--ss117 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-117.jpg');}
  &.color-swatch--118 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-leather-118.jpg');}
  &.color-swatch--leather-118 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-leather-118.jpg');}
  &.color-swatch--suede-118 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-suede-118.jpg');}
  &.color-swatch--leather-119 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-leather-119.jpg');}
  &.color-swatch--119 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-119.jpg');}
  &.color-swatch--120 {background-color: var(--missing-swatch);}
  &.color-swatch--121 {background-color: #741E35;}
  &.color-swatch--122 {background-color: #57553c;}
  &.color-swatch--123 {background-color: var(--missing-swatch);}
  &.color-swatch--124 {background-color: #2B5666;}
  &.color-swatch--125 {background-color: var(--missing-swatch);}
  &.color-swatch--126 {background-color: var(--missing-swatch);}
  &.color-swatch--mariner-126 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-mariner-126.jpg');}
  &.color-swatch--127 {background-color: #4296c2;}
  &.color-swatch--ss127 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-127.jpg');}
  &.color-swatch--128 {background-color: var(--missing-swatch);}
  &.color-swatch--129 {background-color: var(--missing-swatch);}
  &.color-swatch--130 {background-color: #b39767;}
  &.color-swatch--131 {background-color: #093d18;}
  &.color-swatch--132 {background-color: #BFD333;}
  &.color-swatch--133 {background-color: #93c75f;}
  &.color-swatch--134 {background-color: #58beb9;}
  &.color-swatch--135 {background-color: var(--missing-swatch);}
  &.color-swatch--136 {background-color: var(--missing-swatch);}
  &.color-swatch--137 {background-color: #391F59;}
  &.color-swatch--bandit-137 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-137.png');}
  &.color-swatch--138 {background-color: var(--missing-swatch);}
  &.color-swatch--139 {background-color: #dddcdb;}
  &.color-swatch--140 {background-color: #9f3b95;}
  &.color-swatch--141 {background-color: #e36e66;}
  &.color-swatch--142 {background-color: var(--missing-swatch);}
  &.color-swatch--143 {background-color: var(--missing-swatch);}
  &.color-swatch--144 {background-color: var(--missing-swatch);}
  &.color-swatch--145 {background-color: var(--missing-swatch);}
  &.color-swatch--146 {background-color: #5a5940;}
  &.color-swatch--ss146 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-146.jpg');}
  &.color-swatch--147 {background-color: var(--missing-swatch);}
  &.color-swatch--148 {background-color: var(--missing-swatch);}
  &.color-swatch--149 {background-color: #865688;}

  &.color-swatch--150 {background-color: var(--missing-swatch);}
  &.color-swatch--151 {background-color: #C9B037;}
  &.color-swatch--152 {background-color: #e1e1e1;}
  &.color-swatch--153 {background-color: #a7c1a3;}
  &.color-swatch--154 {background-color: var(--missing-swatch);}
  &.color-swatch--155 {background-color: #ceada6;}
  &.color-swatch--silicone-155 {background-color: #a6563d;}
  &.color-swatch--156 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-156.jpg');}
  &.color-swatch--157 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-157.jpg');}
  &.color-swatch--158 {background-color: var(--missing-swatch);}
  &.color-swatch--ss158 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-158.jpg');}
  &.color-swatch--159 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-159.jpg');}
  &.color-swatch--160 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-160.jpg');}
  &.color-swatch--161 {background-color: var(--missing-swatch);}
  &.color-swatch--162 {background-color: var(--missing-swatch);}
  &.color-swatch--163 {background-color: var(--missing-swatch);}
  &.color-swatch--164 {background-color: var(--missing-swatch);}
  &.color-swatch--165 {background-color: var(--missing-swatch);}
  &.color-swatch--166 {background-color: var(--missing-swatch);}
  &.color-swatch--167 {background-color: var(--missing-swatch);}
  &.color-swatch--168 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-168.jpg');}
  &.color-swatch--169 {background-color: var(--missing-swatch);}
  &.color-swatch--ss169 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-169.jpg');}
  &.color-swatch--170 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-170.jpg');}
  &.color-swatch--silicone-170 {background-color: #e7e4bc;}
  &.color-swatch--171 {background-color: var(--missing-swatch);}
  &.color-swatch--ss171 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-171.jpg');}
  &.color-swatch--172 {background-color: var(--missing-swatch);}
  &.color-swatch--ss172 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-172.jpg');}
  &.color-swatch--173 {background-color: var(--missing-swatch);}
  &.color-swatch--ss173 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-173.jpg');}
  &.color-swatch--174 {background-color: var(--missing-swatch);}
  &.color-swatch--ss174 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-174.jpg');}
  &.color-swatch--175 {background-color: var(--missing-swatch);}
  &.color-swatch--176 {background-color: var(--missing-swatch);}
  &.color-swatch--177 {background-color: var(--missing-swatch);}
  &.color-swatch--178 {background-color: var(--missing-swatch);}
  &.color-swatch--179 {background-color: var(--missing-swatch);}
  &.color-swatch--180 {background-color: var(--missing-swatch);}
  &.color-swatch--181 {background-color: var(--missing-swatch);}
  &.color-swatch--182 {background-color: var(--missing-swatch);}
  &.color-swatch--183 {background-color: var(--missing-swatch);}
  &.color-swatch--184 {background-color: var(--missing-swatch);}
  &.color-swatch--185 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-185.jpg');}
  &.color-swatch--186 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-186.jpg');}
  &.color-swatch--187 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-187.jpg');}
  &.color-swatch--188 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-188.jpg');}
  &.color-swatch--189 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-189.jpg');}
  &.color-swatch--190 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-190.jpg');}
  &.color-swatch--191 {background-color: var(--missing-swatch);}
  &.color-swatch--192 {background-color: var(--missing-swatch);}
  &.color-swatch--193 {background-color: var(--missing-swatch);}
  &.color-swatch--194 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-194.jpg');}
  &.color-swatch--195 {background-color: var(--missing-swatch);}
  &.color-swatch--196 {background-color: var(--missing-swatch);}
  &.color-swatch--197 {background-color: var(--missing-swatch);}
  &.color-swatch--198 {background-color: var(--missing-swatch);}
  &.color-swatch--199 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-199.jpg');}

  &.color-swatch--200 {background-color: var(--missing-swatch);}
  &.color-swatch--201 {background-color: var(--missing-swatch);}
  &.color-swatch--202 {background-color: var(--missing-swatch);}
  &.color-swatch--203 {background-color: var(--missing-swatch);}
  &.color-swatch--204 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-204.png');}
  &.color-swatch--205 {background-color: var(--missing-swatch);}
  &.color-swatch--206 {background-color: var(--missing-swatch);}
  &.color-swatch--207 {background-color: var(--missing-swatch);}
  &.color-swatch--208 {background-color: var(--missing-swatch);}
  &.color-swatch--209 {background-color: var(--missing-swatch);}
  &.color-swatch--210 {background-color: var(--missing-swatch);}
  &.color-swatch--211 {background-color: var(--missing-swatch);}
  &.color-swatch--212 {background-color: var(--missing-swatch);}
  &.color-swatch--213 {background-color: var(--missing-swatch);}
  &.color-swatch--214 {background-color: var(--missing-swatch);}
  &.color-swatch--215 {background-color: var(--missing-swatch);}
  &.color-swatch--216 {background-color: var(--missing-swatch);}
  &.color-swatch--217 {background-color: #6A152D;}
  &.color-swatch--218 {background-color: #c9e079;}
  &.color-swatch--219 {background-color: #cff471;}
  &.color-swatch--220 {background-color: var(--missing-swatch);}
  &.color-swatch--221 {background-color: var(--missing-swatch);}
  &.color-swatch--222 {background-color: var(--missing-swatch);}
  &.color-swatch--223 {background-color: #85a8cb;}
  &.color-swatch--224 {background-color: var(--missing-swatch);}
  &.color-swatch--225 {background-color: var(--missing-swatch);}
  &.color-swatch--226 {background-color: var(--missing-swatch);}
  &.color-swatch--227 {background-color: var(--missing-swatch);}
  &.color-swatch--228 {background-color: #2557C5;}
  &.color-swatch--230 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-230.jpg');}
  &.color-swatch--231 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-231.jpg');}
  &.color-swatch--232 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-232.jpg');}
  &.color-swatch--233 {background-color: var(--missing-swatch);}
  &.color-swatch--234 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-234.jpg');}
  &.color-swatch--235 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-235.jpg');}
  &.color-swatch--236 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-236.jpg');}
  &.color-swatch--237 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-237.jpg');}
  &.color-swatch--238 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-238.jpg');}
  &.color-swatch--239 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-239.jpg');}
  &.color-swatch--240 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-240.jpg');}
  &.color-swatch--241 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-241.jpg');}
  &.color-swatch--242 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-242.jpg');}
  &.color-swatch--243 {background-color: var(--missing-swatch);}
  &.color-swatch--244 {background-color: var(--missing-swatch);}
  &.color-swatch--245 {background-color: var(--missing-swatch);}
  &.color-swatch--246 {background-color: var(--missing-swatch);}
  &.color-swatch--247 {background-color: var(--missing-swatch);}
  &.color-swatch--248 {background-color: var(--missing-swatch);}
  &.color-swatch--sleeper-249 {background-color: #38373d; border-right: 10px solid #e3c698;}
  &.color-swatch--249 {background-color: #dfb043; border-top: 7px solid #0d0d0f; border-bottom: 7px solid #0d0d0f;}

  &.color-swatch--250 {background-color: #78CCC9;}
  &.color-swatch--silicone-250 {background-color: #7bc5a4;}
  &.color-swatch--dual-250 {background-image: url('//b2b.chums.com/images/swatches/2020/250-swatch-angle.jpg');}
  &.color-swatch--251 {background-color: var(--missing-swatch);}
  &.color-swatch--252 {background-color: var(--missing-swatch);}
  &.color-swatch--253 {background-color: var(--missing-swatch);}
  &.color-swatch--254 {background-color: var(--missing-swatch);}
  &.color-swatch--255 {background-color: var(--missing-swatch);}
  &.color-swatch--256 {background-color: var(--missing-swatch);}
  &.color-swatch--257 {background-color: var(--missing-swatch);}
  &.color-swatch--baja-257 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-baja-257.png');}
  &.color-swatch--258 {background-color: var(--missing-swatch);}
  &.color-swatch--259 {background-color: var(--missing-swatch);}
  &.color-swatch--260 {background-color: var(--missing-swatch);}
  &.color-swatch--261 {background-color: var(--missing-swatch);}
  &.color-swatch--262 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-262.png');}
  &.color-swatch--263 {background-color: var(--missing-swatch);}
  &.color-swatch--264 {background-color: #ebc121;}
  &.color-swatch--265 {background-color: var(--missing-swatch);}
  &.color-swatch--266 {background-color: var(--missing-swatch);}
  &.color-swatch--267 {background-color: var(--missing-swatch);}
  &.color-swatch--268 {background-color: var(--missing-swatch);}
  &.color-swatch--269 {background-color: var(--missing-swatch);}
  &.color-swatch--270 {background-color: var(--missing-swatch);}
  &.color-swatch--271 {background-color: #BAB092;}
  &.color-swatch--272 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-272.jpg');}
  &.color-swatch--273 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-275.jpg');}
  &.color-swatch--274 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-274.jpg');}
  &.color-swatch--275 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-275.jpg');}
  &.color-swatch--276 {background-color: #2D338C;}
  &.color-swatch--279 {background-color: #BE9E7E;}
  &.color-swatch--280 {background-color: #E3605A;}
  &.color-swatch--281 {background-color: #575B87;}
  &.color-swatch--282 {background-color: #50B4A5;}
  &.color-swatch--283 {background-color: #C7DA44;}
  &.color-swatch--284 {background-color: #E3605A;}
  &.color-swatch--285 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-285.jpg');}
  &.color-swatch--286 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-286.jpg');}
  &.color-swatch--287 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-287.jpg');}
  &.color-swatch--288 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-288.jpg');}
  &.color-swatch--290 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-290.png');}
  &.color-swatch--291 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-291.jpg');}
  &.color-swatch--292 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-292.jpg');}
  &.color-swatch--293 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-293.jpg');}
  &.color-swatch--294 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-294.jpg');}
  &.color-swatch--295 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-295.jpg');}
  &.color-swatch--296 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-296.jpg');}
  &.color-swatch--ss294 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-294.jpg');}
  &.color-swatch--ss295 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-295.jpg');}
  &.color-swatch--ss296 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-296.jpg');}
  &.color-swatch--297 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-297.jpg');}
  &.color-swatch--298 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-298.jpg');}
  &.color-swatch--299 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-299.jpg');}

  &.color-swatch--300 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-300.png');}
  &.color-swatch--306 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-306.jpg');}
  &.color-swatch--307 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-307.jpg');}
  &.color-swatch--308 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-308.jpg');}
  &.color-swatch--309 {background-image: url('//b2b.chums.com/images/swatches/2020/309-TRI-swatch-angle.jpg');}
  &.color-swatch--ss309 {background-image: url('//b2b.chums.com/images/swatches/2020/309-TRI-swatch-angle.jpg');}
  &.color-swatch--310 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-310.jpg');}
  &.color-swatch--311 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-311.jpg');}
  &.color-swatch--312 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-312.jpg');}
  &.color-swatch--313 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-313.jpg');}
  &.color-swatch--314 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-314.jpg');}
  &.color-swatch--315 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-315.jpg');}
  &.color-swatch--318 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-318.jpg');}
  &.color-swatch--319 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-319.jpg');}
  &.color-swatch--320 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-320.jpg');}
  &.color-swatch--rope-329 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-329.jpg');}
  &.color-swatch--329 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-329.jpg');}
  &.color-swatch--337,
  &.color-swatch--rt-max4 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rt-max4.png');}
  &.color-swatch--338,
  &.color-swatch--rt-apb {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rt-apb.png');}
  &.color-swatch--339,
  &.color-swatch--rt-apc {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rt-apc.png');}
  &.color-swatch--mariner-340 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-mariner-340.jpg');}
  &.color-swatch--342 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-342.jpg');}

  &.color-swatch--349,
  &.color-swatch--rt-xtra {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rt-xtra.png');}

  &.color-swatch--350 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-350.jpg');}
  &.color-swatch--351,
  &.color-swatch--rt-edge {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rt-edge.jpg');}

  &.color-swatch--352 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-352.jpg');}
  &.color-swatch--353 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-353.png');}
  &.color-swatch--354 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-354.jpg');}
  &.color-swatch--355 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-355.png');}
  &.color-swatch--dual-356 {background-image: url('//b2b.chums.com/images/swatches/2020/356-swatch-angle.jpg');}
  &.color-swatch--ss356 {background-image: url('//b2b.chums.com/images/swatches/2020/356-TRI-swatch-angle.jpg');}
  &.color-swatch--357 {background-color: #a9a8a8;}
  &.color-swatch--358 {background-color: #faca3e;}
  &.color-swatch--359 {background-color: #efa43c;}
  &.color-swatch--360 {background-color: #485b38;}
  &.color-swatch--361 {background-color: #b3c9da;}
  &.color-swatch--362 {background-color: #575f68;}
  &.color-swatch--363 {background-color: #afb1b2;}
  &.color-swatch--364 {background-color: #c9baa3;}
  &.color-swatch--365 {background-color: #3e5487;}
  &.color-swatch--367 {background-color: #8e8b82;}
  &.color-swatch--368 {background-color: #712b2b;}
  &.color-swatch--369 {background-color: #dca448;}
  &.color-swatch--370 {background-color: #4aa6b0;}
  &.color-swatch--371 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-371.jpg');}
  &.color-swatch--372 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-372.jpg');}
  &.color-swatch--373 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-373.png');}
  &.color-swatch--374 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-374.jpg');}
  &.color-swatch--ss374 {background-image: url('//b2b.chums.com/images/swatches/2020/374-TRI-swatch-angle.jpg');}
  &.color-swatch--375 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-375.jpg');}
  &.color-swatch--376 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-376.jpg');}
  &.color-swatch--377 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-377.jpg');}
  &.color-swatch--378 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-378.png');}
  &.color-swatch--ss378 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-378.png');}
  &.color-swatch--379 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-379.jpg');}
  &.color-swatch--380 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-380.png');}
  &.color-swatch--381 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-381.png');}
  &.color-swatch--382 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-382.png');}
  &.color-swatch--383 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-383.png');}
  &.color-swatch--ss383 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-383.png');}
  &.color-swatch--384 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-384.png');}
  &.color-swatch--385 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-385.png');}
  &.color-swatch--386 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-386.png');}
  &.color-swatch--387 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-387.png');}
  &.color-swatch--388 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-388.png');}
  &.color-swatch--390 {background-color: #64534f;}
  &.color-swatch--391 {background-color: #4d5751;}
  &.color-swatch--392 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-392.png');}
  &.color-swatch--393 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-393.png');}
  &.color-swatch--394 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-394.png');}
  &.color-swatch--395 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-395.png');}
  &.color-swatch--396 {background-color: var(--missing-swatch);}
  &.color-swatch--397 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-397.png');}
  &.color-swatch--ss397 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-397.png');}
  &.color-swatch--398 {background-color: var(--missing-swatch);}
  &.color-swatch--399 {background-color: var(--missing-swatch);}

  &.color-swatch--400 {background-color: var(--missing-swatch);}
  &.color-swatch--401 {background-color: var(--missing-swatch);}
  &.color-swatch--402 {background-color: var(--missing-swatch);}
  &.color-swatch--403 {background-color: var(--missing-swatch);}
  &.color-swatch--404 {background-color: var(--missing-swatch);}
  &.color-swatch--405 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-405.jpg');}
  &.color-swatch--406 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-406.jpg');}
  &.color-swatch--408 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-408.jpg');}
  &.color-swatch--429 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-429.png');}
  &.color-swatch--430 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-430.png');}
  &.color-swatch--431 {background-color: var(--missing-swatch);}
  &.color-swatch--432 {background-color: var(--missing-swatch);}
  &.color-swatch--433 {background-color: var(--missing-swatch);}
  &.color-swatch--434 {background-color: var(--missing-swatch);}
  &.color-swatch--435 {background-color: var(--missing-swatch);}
  &.color-swatch--436 {background-color: var(--missing-swatch);}
  &.color-swatch--437 {background-color: var(--missing-swatch);}
  &.color-swatch--438 {background-color: var(--missing-swatch);}
  &.color-swatch--439 {background-color: var(--missing-swatch);}
  &.color-swatch--440 {background-color: var(--missing-swatch);}
  &.color-swatch--441 {background-color: var(--missing-swatch);}
  &.color-swatch--442 {background-color: var(--missing-swatch);}
  &.color-swatch--443 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-443.png');}
  &.color-swatch--444 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-444.png');}
  &.color-swatch--445 {background-color: var(--missing-swatch);}
  &.color-swatch--446 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-446.png');}
  &.color-swatch--447 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-447.png');}
  &.color-swatch--448 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-448.png');}
  &.color-swatch--449 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-449.jpg');}

  &.color-swatch--450 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-450.jpg');}
  &.color-swatch--reversi-450 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-450.jpg');}
  &.color-swatch--451 {background-color: var(--missing-swatch);}
  &.color-swatch--452 {background-color: var(--missing-swatch);}
  &.color-swatch--453 {background-color: var(--missing-swatch);}
  &.color-swatch--454 {background-color: var(--missing-swatch);}
  &.color-swatch--455 {background-color: var(--missing-swatch);}
  &.color-swatch--456 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-456.jpg');}
  &.color-swatch--457 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-457.jpg');}
  &.color-swatch--458 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-458.jpg');}
  &.color-swatch--459 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-459.jpg');}
  &.color-swatch--460 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-460.jpg');}
  &.color-swatch--461 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-461.jpg');}
  &.color-swatch--462 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-462.jpg');}
  &.color-swatch--463 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-463.png');}
  &.color-swatch--464 {background-color: var(--missing-swatch);}
  &.color-swatch--465 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-465.png');}
  &.color-swatch--466 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-466.png');}
  &.color-swatch--467 {background-image: url('//b2b.chums.com/images/swatches/2025/swatch-467.png');}
  &.color-swatch--468 {background-color: var(--missing-swatch);}
  &.color-swatch--469 {background-color: var(--missing-swatch);}
  &.color-swatch--470 {background-color: var(--missing-swatch);}
  &.color-swatch--471 {background-color: var(--missing-swatch);}
  &.color-swatch--472 {background-color: var(--missing-swatch);}
  &.color-swatch--473 {background-color: var(--missing-swatch);}
  &.color-swatch--474 {background-color: var(--missing-swatch);}
  &.color-swatch--475 {background-color: var(--missing-swatch);}
  &.color-swatch--476 {background-color: var(--missing-swatch);}
  &.color-swatch--477 {background-color: var(--missing-swatch);}
  &.color-swatch--478 {background-color: var(--missing-swatch);}
  &.color-swatch--479 {background-color: var(--missing-swatch);}
  &.color-swatch--480 {background-color: var(--missing-swatch);}
  &.color-swatch--481 {background-color: var(--missing-swatch);}
  &.color-swatch--482 {background-color: var(--missing-swatch);}
  &.color-swatch--483 {background-color: var(--missing-swatch);}
  &.color-swatch--484 {background-color: var(--missing-swatch);}
  &.color-swatch--485 {background-color: var(--missing-swatch);}
  &.color-swatch--486 {background-color: var(--missing-swatch);}
  &.color-swatch--487 {background-color: var(--missing-swatch);}
  &.color-swatch--488 {background-color: var(--missing-swatch);}
  &.color-swatch--489 {background-color: var(--missing-swatch);}
  &.color-swatch--490 {background-color: var(--missing-swatch);}
  &.color-swatch--491 {background-color: var(--missing-swatch);}
  &.color-swatch--492 {background-color: var(--missing-swatch);}
  &.color-swatch--493 {background-color: var(--missing-swatch);}
  &.color-swatch--494 {background-color: var(--missing-swatch);}
  &.color-swatch--495 {background-color: var(--missing-swatch);}
  &.color-swatch--496 {background-color: var(--missing-swatch);}
  &.color-swatch--497 {background-color: var(--missing-swatch);}
  &.color-swatch--498 {background-color: var(--missing-swatch);}
  &.color-swatch--499 {background-color: var(--missing-swatch);}

  &.color-swatch--500 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-500.png');}
  &.color-swatch--501 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-501.png');}
  &.color-swatch--504 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-504.png');}
  &.color-swatch--512 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-512.jpg');}
  &.color-swatch--513 {background-color: #35535F; border: 3px solid #928456;}
  &.color-swatch--sleeper-513 {background-color: #35535F; border-right: 10px solid #928456;}
  &.color-swatch--514 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-514.jpg');}
  &.color-swatch--ss514 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-ss-angled-514.jpg');}
  &.color-swatch--515 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-515.png');}


  &.color-swatch--560 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-560.png');}
  &.color-swatch--561 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-561.png');}
  &.color-swatch--562 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-562.png');}

  &.color-swatch--601 {background-color: #13c9eb;}
  &.color-swatch--ratchet-601 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-601.jpg');}
  &.color-swatch--602 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-602.jpg');}
  &.color-swatch--605 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-605.jpg');}
  &.color-swatch--ss605 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-ss-angled-605.jpg');}
  &.color-swatch--mariner-605 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-mariner-605.jpg');}
  &.color-swatch--606 {background-color: #ec2173;}
  &.color-swatch--608 {background-color: #e8f058;}
  &.color-swatch--609 {background-color: #ffaa4d;}
  &.color-swatch--611 {background-color: #8bef14;}
  &.color-swatch--617 {background-color: #f58e13;}
  &.color-swatch--660 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-660.png');}
  &.color-swatch--ss660 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-660.png');}
  &.color-swatch--662 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-662.png');}
  &.color-swatch--ss662 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-662.png');}
  &.color-swatch--699 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-699.jpg');}

  &.color-swatch--701 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-701.png');}
  &.color-swatch--baja-701 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-baja-701.png');}
  &.color-swatch--ltd-701 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ltd-701.jpg');}
  &.color-swatch--702 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-702.png');}
  &.color-swatch--704 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-704.png');}
  &.color-swatch--baja-705 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-baja-705.png');}
  &.color-swatch--706 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-706.png');}
  &.color-swatch--707 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-707.jpg');}
  &.color-swatch--ltd-707 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ltd-707.jpg');}
  &.color-swatch--baja-708 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-baja-708.png');}
  &.color-swatch--baja-709 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-baja-709.png');}
  &.color-swatch--710 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-710.jpg');}
  &.color-swatch--711 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-711.jpg');}
  &.color-swatch--713 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-713.jpg');}
  &.color-swatch--715 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-715.jpg');}
  &.color-swatch--719 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-719.png');}
  &.color-swatch--720 {background-color: #123B1D;}
  &.color-swatch--724 {background-color: #713e3d;}
  &.color-swatch--748 {background-color: #6d7f97;}
  &.color-swatch--749 {background-color: #e1e1e1;}

  &.color-swatch--770 {background-color: #13c9eb;}
  &.color-swatch--771 {background-color: #c44b8f;}
  &.color-swatch--776 {background-color: #ff6068;}
  &.color-swatch--781 {background-color: #4e9b5b;}
  &.color-swatch--786 {background-color: #48975e;}
  &.color-swatch--787 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-787.png');}
  &.color-swatch--788 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-788.png');}
  &.color-swatch--baja-789 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-baja-789.png');}
  &.color-swatch--791 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-791.jpg');}
  &.color-swatch--792 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-792.jpg');}
  &.color-swatch--793 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-793.jpg');}
  &.color-swatch--794 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-794.jpg');}
  &.color-swatch--795 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-795.jpg');}
  &.color-swatch--796 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-796.jpg');}
  &.color-swatch--799 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-799.jpg');}

  &.color-swatch--802 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-802.jpg');}
  &.color-swatch--803 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-803.jpg');}
  &.color-swatch--804 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-804.jpg');}
  &.color-swatch--805 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-805.jpg');}
  &.color-swatch--806 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-806.jpg');}
  &.color-swatch--809 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-809.jpg');}
  &.color-swatch--rope-809 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-809.jpg');}
  &.color-swatch--811 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-811.jpg');}
  &.color-swatch--812 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-812.jpg');}
  &.color-swatch--813 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-813.jpg');}
  &.color-swatch--814 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-814.jpg');}
  &.color-swatch--818 {background-image: url('//b2b.chums.com/images/swatches/rope/818.jpg');}
  &.color-swatch--819 {background-image: url('//b2b.chums.com/images/swatches/rope/819.jpg');}
  &.color-swatch--827 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-827.jpg');}
  &.color-swatch--828 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-828.jpg');}
  &.color-swatch--832 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ratchet-832.jpg');}
  &.color-swatch--837 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-837.jpg');}
  &.color-swatch--830 {background-color: #e76b9b;}
  &.color-swatch--842 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-842.jpg');}
  &.color-swatch--ss-842 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-842.png');}
  &.color-swatch--845 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-845.jpg');}

  &.color-swatch--851 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-851.jpg');}
  &.color-swatch--862 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-862.jpg');}
  &.color-swatch--863 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-863.jpg');}
  &.color-swatch--866 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-866.jpg');}
  &.color-swatch--870 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-870.jpg');}
  &.color-swatch--871 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-rope-871.jpg');}
  &.color-swatch--872 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-colorado.jpg');}
  &.color-swatch--874 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-874.jpg');}
  &.color-swatch--875 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-875.jpg');}
  &.color-swatch--876 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-876.png');}
  &.color-swatch--877 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-877.png');}
  &.color-swatch--ss877 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-877.png');}
  &.color-swatch--mariner-879 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-mariner-879.jpg');}
  &.color-swatch--880 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-880.png');}
  &.color-swatch--881 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-881.png');}
  &.color-swatch--ss881 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-881.png');}
  &.color-swatch--mariner-883 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-mariner-883.jpg');}
  &.color-swatch--884 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-884.jpg');}
  &.color-swatch--885 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-885.jpg');}
  &.color-swatch--886 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-886.jpg');}
  &.color-swatch--887 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-887.jpg');}
  &.color-swatch--888 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-888.jpg');}
  &.color-swatch--889 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-889.jpg');}
  &.color-swatch--890 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-890.jpg');}
  &.color-swatch--891 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-891.jpg');}
  &.color-swatch--mariner-892 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-mariner-892.jpg');}
  &.color-swatch--893 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-893.jpg');}
  &.color-swatch--894 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-894.jpg');}
  &.color-swatch--895 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-895.jpg');}
  &.color-swatch--896 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-896.jpg');}
  &.color-swatch--898 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-898.jpg');}
  &.color-swatch--899 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-899.png');}
  &.color-swatch--sleeper-899 {background-color: #B95100; border-right: 10px solid #b1ae9d;}


  &.color-swatch--ss903 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-ss-angled-903.jpg');}
  &.color-swatch--911 {background-image: url('//b2b.chums.com/images/swatches/2024/swatch-911.jpg');}
  &.color-swatch--ltd-911 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-ltd-911.jpg');}
  &.color-swatch--915 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-915.png');}
  &.color-swatch--916 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-916.png');}
  &.color-swatch--920 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-920.jpg');}
  &.color-swatch--921 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-921.jpg');}
  &.color-swatch--922 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-922.jpg');}
  &.color-swatch--928 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-928.jpg');}
  &.color-swatch--929 {background-image: url('//b2b.chums.com/images/swatches/2023/swatch-929.jpg');}
  &.color-swatch--937 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-937.jpg');}
  &.color-swatch--938 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-938.jpg');}
  &.color-swatch--939 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-939.jpg');}
  &.color-swatch--940 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-940.jpg');}
  &.color-swatch--941 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-941.jpg');}
  &.color-swatch--942 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-942.jpg');}
  &.color-swatch--943 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-943.jpg');}

  &.color-swatch--950 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-950.jpg');}
  &.color-swatch--951 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-951B.jpg');}
  &.color-swatch--951b {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-951B.jpg');}
  &.color-swatch--990 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-990.png');}
  &.color-swatch--991 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-991.png');}
  &.color-swatch--992 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-992.png');}
  &.color-swatch--996 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-996.png');}
  &.color-swatch--997 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-997.png');}
  &.color-swatch--998 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-998.png');}

  &.color-swatch--1008 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1008.png');}
  &.color-swatch--1010 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1010.png');}
  &.color-swatch--1011 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-1011.jpg');}
  &.color-swatch--1012 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1012.png');}
  &.color-swatch--1013 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-1013.jpg');}
  &.color-swatch--1014 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-1014.jpg');}
  &.color-swatch--neoprene-1014 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-1014.jpg');}
  &.color-swatch--1019 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1019.jpg');}
  //&.color-swatch--1020 {background-color: #d5c8c2;}
  &.color-swatch--1020 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-1020.jpg');}
  &.color-swatch--fpp-1020 {background-color: #dde0d9; border: 3px solid #62c3de;}
  &.color-swatch--1021 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-1021.jpg');}
  &.color-swatch--1022 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1022.png');}
  &.color-swatch--1025 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1025.jpg');}
  &.color-swatch--1026 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1026.png');}
  &.color-swatch--1027 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1027.png');}
  &.color-swatch--1028 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1028.png');}
  &.color-swatch--1029 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1029.png');}
  &.color-swatch--1030 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1030.jpg');}
  &.color-swatch--1031 {background-image: url('//b2b.chums.com/images/swatches/2021/swatch-1031.jpg');}
  &.color-swatch--1033 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1033.png');}
  &.color-swatch--1034 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1034.png');}
  &.color-swatch--1041 {background-image: url('//b2b.chums.com/images/swatches/2022/swatch-1041.png');}
  // seersucker
  &.color-swatch--100-seersucker {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-100.jpg');}
  &.color-swatch--101-seersucker {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-101.jpg');}
  &.color-swatch--106-seersucker {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-106.jpg');}
  &.color-swatch--109-seersucker {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-109.jpg');}
  &.color-swatch--166-seersucker {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-166.jpg');}
  &.color-swatch--601-seersucker {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-601.jpg');}
  &.color-swatch--781-seersucker {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-781.jpg');}

  &.color-swatch--100-101 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-100-101.png');}
  &.color-swatch--108-136 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-108-136.png');}

  &.color-swatch--transit-128,
  &.color-swatch--transit-blue-navy {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-100-101.png');}
  &.color-swatch--transit-14015,
  &.color-swatch--transit-14022,
  &.color-swatch--transit-grey {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-transit-grey.jpg');}
  &.color-swatch--transit-14028,
  &.color-swatch--transit-14030,
  &.color-swatch--transit-green {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-transit-green.jpg');}
  &.color-swatch--transit-red {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-transit-red.jpg');}
  &.color-swatch--transit-100,
  &.color-swatch--14052,
  &.color-swatch--14056 {background-color: #444444;}
  &.color-swatch--transit-103,
  &.color-swatch--14053,
  &.color-swatch--transit-charcoal {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-transit-charcoal.png');}
  &.color-swatch--14054,
  &.color-swatch--transit-pink {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-transit-pink.png');}
  &.color-swatch--14055,
  &.color-swatch--transit-sulfur {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-transit-sulfur.png');}
  &.color-swatch--transit-white {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-transit-white.png');}
  &.color-swatch--transit-14031,
  &.color-swatch--transit-14032,
  &.color-swatch--transit-blue {background-color: #276bb8;}



  &.color-swatch--js-100,
  &.color-swatch--js-54154,
  &.color-swatch--js-54240,
  &.color-swatch--js-54157,
  &.color-swatch--js-54255,
  &.color-swatch--js-black {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-js-black.jpg');}
  &.color-swatch--js-103,
  &.color-swatch--js-54158,
  &.color-swatch--js-54256,
  &.color-swatch--js-grey {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-js-grey.jpg');}
  &.color-swatch--js-54155,
  &.color-swatch--js-54159,
  &.color-swatch--js-54261,
  &.color-swatch--js-54163,
  &.color-swatch--js-totemfish {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-js-totemfish.jpg');}
  &.color-swatch--js-54243,
  &.color-swatch--js-rt-xtra {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-js-rt-xtra.jpg');}
  &.color-swatch--js-351 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-351.jpg');}


  &.color-swatch--kq100 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-kq100.jpg');}
  &.color-swatch--kq132 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-kq132.jpg');}
  &.color-swatch--kq160 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-kq160.jpg');}
  &.color-swatch--kq877 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-kq877.jpg');}
  &.color-swatch--kq878 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-kq878.jpg');}

  &.color-swatch--14057 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-14057.png');}
  &.color-swatch--14058 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-14058.png');}
  &.color-swatch--14059 {background-image: url('//b2b.chums.com/images/swatches/2020/swatch-14059.png');}
}
